{% extends 'base.html.twig' %}

{% block title %}Tous Nos Biens{% endblock %}

{% block body %}

    <div class="container text-center mt-4">
        <h1>Liste De Nos Biens</h1>
    </div>
{% endblock %}
